.home {
    position: relative;
    margin-top: 100px;
  }
  
  .very-big-title {
    font-size: 110px;
    font-family: "Ranchers";
    color: rgba(237, 22, 60, 1);
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 26px;
    font-weight: 600;
    color: rgba(237, 22, 60, 1);
    max-width: 600px;
    margin-bottom: 100px;
  }
  
  .subtitle2 {
    font-size: 26px;
    font-weight: 600;
    color: rgba(237, 22, 60, 1);
    margin-bottom: 60px;
  }
  
  .homepage-illustration {
    position: absolute;
    right: 100px;
    top: 0;
  }

  .homepage-illustration img {
    max-width: 100%;
    object-fit: contain;
  }

  .homepage-illustration img {
    max-width: 100%;
  }
  
  .search-bar-container {
    position: relative;
  }
  
  .search-bar {
    background-color: rgba(237, 22, 60, 1);
    display: inline-flex;
    position: relative;
    align-items: center;
    border-radius: 12px;
    max-width: 700px;
    width: 100%;
  }
  
  .search-bar input {
    border: none;
    font-size: 26px;
    color: white;
    width: 100%;
    padding: 10px 20px;
    background: none;
    padding-left: 68px;
  }
  
  .search-bar img {
    position: absolute;
    pointer-events: none;
    left: 12px;
  }
  
  .search-bar input::placeholder {
    color: white;
  }

  @media screen and (max-width: 1160px) {
    .home {
      margin-top: 0px;
    }

    .homepage-illustration {
      /* display: none; */
    }

    .very-big-title {
      font-size: 72px;
    }

    .subtitle,
    .subtitle2 {
      font-size: 24px;
    }

    .subtitle {
      margin-bottom: 32px;
    }

    .search-bar {
      max-width: 100%;
    }

    .homepage-illustration {
      top: 480px;
    }
  }