.home {
    position: relative;
    margin-top: 100px;
  }
  
  .very-big-title {
    font-size: 110px;
    font-family: "Ranchers";
    color: rgba(237, 22, 60, 1);
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 26px;
    font-weight: 600;
    color: rgba(237, 22, 60, 1);
    width: 600px;
    margin-bottom: 100px;
  }
  
  .subtitle2 {
    font-size: 26px;
    font-weight: 600;
    color: rgba(237, 22, 60, 1);
    margin-bottom: 60px;
  }
  
  .homepage-illustration {
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .search-bar-container {
    position: relative;
  }
  
  .search-bar {
    background-color: rgba(237, 22, 60, 1);
    display: inline-flex;
    position: relative;
    align-items: center;
    border-radius: 12px;
  }
  
  .search-bar input {
    border: none;
    font-size: 26px;
    color: white;
    width: 700px;
    padding: 10px 20px;
    background: none;
    padding-left: 68px;
  }
  
  .search-bar img {
    position: absolute;
    pointer-events: none;
    left: 12px;
  }
  
  .search-bar input::placeholder {
    color: white;
  }
  
  @media (max-width: 768px) {
    .very-big-title {
      font-size: 12vw;
      margin-top: -80px;
      margin-left: 15px;
    }
  
    .subtitle,
    .subtitle2 {
      font-size: 4.5vw;
      padding: 0 1rem;
    }
  
    .search-bar {
      flex-direction: row;
      padding-left: 40px;
      width: 500px;
    }
  
    .search-bar input {
      font-size: 1rem;
      padding-left: 40px;
    }
  
    .search-bar img {
      width: 20px;
      height: 20px;
      left: 10px;
    }

    .homepage-illustration {
      position: relative;
      right: auto;
      top: auto;
      display: block;
      margin: 2rem auto;
    }
  }
  
  @media (max-width: 1150px) {
    .very-big-title {
      font-size: 14vw;
      margin-top: -60px;

    }
  
    .subtitle,
    .subtitle2 {
      font-size: 4vw;
    }
  
    .search-bar {
      border-radius: 10px;
    }
  
    .search-bar input {
      font-size: 0.9rem;
    }

    .homepage-illustration {
      position: relative;
      right: auto;
      top: auto;
      display: block;
      margin: 2rem auto;
  }
  }